*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100vh;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: white;
    background: rgb(54,77,204);
    background: linear-gradient(299deg, rgba(54,77,204,1) 0%, rgba(19,35,124,1) 100%);
}   

h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: normal;
}

h2{
    font-weight: 100;
}

.avatar{
    width: 80px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}

.profile{
    text-align: center;
    margin-top: 20px;
}

.social{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0px;
}

.social img{
    width: 33px;
}

.list-links{
    list-style: none;
}

.list-links li{
    margin: 10px 20px;
}

.list-links li a{
    display: block;
    text-decoration: none;
    font-weight: 700;
    background-color: white;
    color: rgb(54,77,204);
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px white;
}

.list-links li a span{
    color: grey;
    display: block;
    margin-top: 10px;
}